<div id="term-condition">
    <div class="form-section-header">
        <h2>Tunnistautuminem, ehdot ja hinnat</h2>
        <span class="pull-right">*Pakolliset kentät</span>
    </div>
    <div class="official-confirmation">
        <span class="control-label input-label">{{ form.need_manual_confirmation.label }}</span>
        {{ form.need_manual_confirmation }}
    </div>
    {% include "forms/_select.html" with field=form.authentication %}
    {% include "forms/_select.html" with field=form.generic_terms %}
    {% include "forms/_select.html" with field=form.access_code_type %}

    {% include "forms/_textarea_input.html" with field=form.specific_terms %}
    <div class="pricing">
        <h4>Hinnoittelu</h4>
        <div class="price-confirm">
            <span class="control-label input-label">Tila on maksuton</span>
            <div class="radio-group">
                <div class="rdio rdio-primary radio-inline">
                    <input name="radio" value="true" id="radio-pricing-true" type="radio" checked>
                    <label for="radio-pricing-true">Kyllä</label>
                </div>
                <div class="rdio rdio-primary radio-inline">
                    <input name="radio" value="2" id="radio-pricing-false" type="radio">
                    <label for="radio-pricing-false">Ei</label>
                </div>
            </div>
        </div>
        <div class="price-range">
            <div class="input-row">
                <div class="form-group">
                    <label class="control-label input-label" for="min-price">Minimituntihinti</label>
                    <div class="input-unit-wrapper">
                        <input type="text" class="form-control text-input" id="min-price" placeholder="xx">
                        <span class="glyphicon glyphicon-euro"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label input-label" for="max-price">Maksimituntihinta</label>
                    <div class="input-unit-wrapper">
                        <input type="text" class="form-control text-input" id="max-price" placeholder="xx">
                        <span class="glyphicon glyphicon-euro"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
