{% trans resource=reservation.resource.name %}Resource: {{ resource }}{% endtrans %}
{% trans unit=reservation.resource.unit.name %}Unit: {{ unit }}{% endtrans %}
{% trans starts=reservation.begin|localtime|date('DATETIME_FORMAT') %}Starts: {{ starts }}{% endtrans %}
{% trans ends=reservation.end|localtime|date('DATETIME_FORMAT') %}Ends: {{ ends }}{% endtrans %}
