{% trans %}Hello{% endtrans %}

{{ content }}

{% trans %}This is an automatic message, please don't reply to this.{% endtrans %}

{% trans %}Best regards,{% endtrans %}
{% trans %}Varaamo{% endtrans %}