{% trans %}Your reservation has been confirmed.{% endtrans %}

{% include "mail/_reservation_data.jinja" %}
{% trans %}
It is possible to cancel the reservation five days before the start of
your reservation. All cancellations are done through personnel. Further
information for cancelling your reservation can be found from Varaamo's
"Omat varaukset" section which you can find when you are logged in to the
service.
{% endtrans %}
{%- set extra_content=reservation.resource.reservation_confirmed_notification_extra -%}
{% if extra_content %}
{{ extra_content|django_wordwrap(76) }}
{% endif -%}
