{% trans %}Your reservation has been cancelled.{% endtrans %}

{% include "mail/_reservation_data.jinja" %}
{% trans %}
Further information regarding the cancellation of your reservation can
be acquired from the personnel who are responsible for the space.
{% endtrans %}
