{% trans %}and thanks for using Varaamo!{% endtrans %}

{% trans %}You've made a preliminary reservation:{% endtrans %}

{% include "mail/_reservation_data.jinja" %}
{% trans %}
Your reservation will be processed in two days and you will get an
email when your reservation is either confirmed or denied. In case we
need more information regarding the reservation, we will be in contact
with you.
{% endtrans %}
