*~
__pycache__
db.sqlite3
*.mo
*.sqlite
data/
media/
static/
.django_secret
./local_settings.py
/venv*
/.idea
.coverage
htmlcov
.cache
perf*csv
/*hack*py
*.egg-info
/build
/dist
/src
.env
/.vscode
.pytest_cache