Django
django-modeltranslation>=0.10
psycopg2>=2.6
-e git+https://github.com/City-of-Helsinki/munigeo#egg=django-munigeo
djangorestframework!=3.2.3
django-filter
django-grappelli
pytest==2.8.2
pytest-cov==2.2.0
pytest-django==2.9.1
flake8==2.4.1
arrow
pytz
coverage
django-cors-headers
django-image-cropping
easy_thumbnails
-e git+https://github.com/City-of-Helsinki/django-helusers.git#egg=django-helusers
django-allauth
django-autoslug==1.9.3
djangorestframework-jwt
pyjwt
