Django<2
django-modeltranslation
psycopg2
django-munigeo
djangorestframework
django-filter
django-grappelli
django-parler
pytest
pytest-cov
pytest-django
flake8
arrow
pytz
coverage
django-cors-headers
django-image-cropping
easy_thumbnails
django-helusers
django-allauth
djangorestframework-jwt
pyjwt
django-hstore
XlsxWriter
icalendar
pip-tools
Faker
django-guardian
Jinja2
django-jinja
django-anymail
raven
delorean
freezegun
python-docx
iso8601
lxml
requests
requests-ntlm
six
django-reversion
daemonize
django-environ
django-enumfields
django-sanitized-dump>=0.2.0
database-sanitizer>=0.4.0

#respa_berth requirements
amqp==2.1.4
billiard==3.5.0.2
celery==4.0.2
kombu==4.0.2
python-memcached==1.59
vine==1.1.3
twilio==6.9.1
