Django
django-modeltranslation>=0.13-beta1
--no-binary psycopg2
psycopg2
django-munigeo
djangorestframework
django-filter
django-grappelli
django-parler
pytest
pytest-cov
pytest-django
flake8
arrow
pytz
coverage
django-cors-headers
django-image-cropping
easy_thumbnails
django-helusers
django-allauth
djangorestframework-jwt
pyjwt
django-hstore
XlsxWriter
icalendar
pip-tools>=7.3.0
Faker
django-guardian
Jinja2
django-jinja
django-anymail
sentry-sdk
delorean
freezegun
python-docx
iso8601
lxml
requests
requests-ntlm
six
django-reversion
daemonize
django-environ
django-enumfields
django-sanitized-dump>=0.2.0
database-sanitizer>=0.4.0
jsonschema
django-admin-json-editor
factory_boy
isort
pillow>=10.0.1
certifi>=2023.7.22
cryptography>=41.0.4
urllib3>=1.26.18
