<div id="equipment">
    <div class="form-section-header">
        <h2>Tunnistautuminem, ehdot ja hinnat</h2>
        <span class="pull-right">*Pakolliset kentät</span>
    </div>
    <p>Valitse alla olevasta listasta...</p>
    <div class="technical">
        <h4>Tekniikka</h4>
        <div class="checkbox-row">
            <div class="custom-checkbox checkbox-inline">
                <input class="checkbox-custom" id="tech1-item1" type="checkbox">
                <label class="checkbox-custom-label input-label" for="tech1-item2">Sähköinternet</label>
            </div>
            <div class="custom-checkbox checkbox-inline">
                <input class="checkbox-custom" id="tech1-item2" type="checkbox">
                <label class="checkbox-custom-label input-label" for="tech1-item2">Sähköinternet</label>
            </div>
            <div class="custom-checkbox checkbox-inline">
                <input class="checkbox-custom" id="tech1-item3" type="checkbox">
                <label class="checkbox-custom-label input-label" for="tech1-item3">Varustelu item</label>
            </div>
            <div class="custom-checkbox checkbox-inline">
                <input class="checkbox-custom" id="tech1-item4" type="checkbox">
                <label class="checkbox-custom-label input-label" for="tech1-item4">Sähköinternet</label>
            </div>
        </div>
        <div class="checkbox-row">
            <div class="custom-checkbox checkbox-inline">
                <input class="checkbox-custom" id="tech1-item5" type="checkbox">
                <label class="checkbox-custom-label input-label" for="tech1-item5">WiFi</label>
            </div>
            <div class="custom-checkbox checkbox-inline">
                <input class="checkbox-custom" id="tech1-item6" type="checkbox">
                <label class="checkbox-custom-label input-label" for="tech1-item6">Sähköinternet</label>
            </div>
            <div class="custom-checkbox checkbox-inline">
                <input class="checkbox-custom" id="tech1-item7" type="checkbox">
                <label class="checkbox-custom-label input-label" for="tech1-item7">Varustelu item</label>
            </div>
            <div class="custom-checkbox checkbox-inline">
                <input class="checkbox-custom" id="tech1-item8" type="checkbox">
                <label class="checkbox-custom-label input-label" for="tech1-item8">Varustelu item</label>
            </div>
        </div>
    </div>
    <div class="technical">
        <h4>Tekniikka</h4>
        <div class="checkbox-row">
            <div class="custom-checkbox checkbox-inline">
                <input class="checkbox-custom" id="tech2-item1" type="checkbox">
                <label class="checkbox-custom-label input-label" for="tech2-item1">WLAN</label>
            </div>
            <div class="custom-checkbox checkbox-inline">
                <input class="checkbox-custom" id="tech2-item2" type="checkbox">
                <label class="checkbox-custom-label input-label" for="tech2-item2">Sähköinternet</label>
            </div>
            <div class="custom-checkbox checkbox-inline">
                <input class="checkbox-custom" id="tech2-item3" type="checkbox">
                <label class="checkbox-custom-label input-label" for="tech2-item3">Sähköinternet</label>
            </div>
            <div class="custom-checkbox checkbox-inline">
                <input class="checkbox-custom" id="tech2-item4" type="checkbox">
                <label class="checkbox-custom-label input-label" for="tech2-item4">Varustelu item</label>
            </div>
        </div>
        <div class="checkbox-row">
            <div class="custom-checkbox checkbox-inline">
                <input class="checkbox-custom" id="tech2-item5" type="checkbox">
                <label class="checkbox-custom-label input-label" for="tech2-item5">WLAN</label>
            </div>
            <div class="custom-checkbox checkbox-inline">
                <input class="checkbox-custom" id="tech2-item6" type="checkbox">
                <label class="checkbox-custom-label input-label" for="tech2-item6">Sähköinternet</label>
            </div>
            <div class="custom-checkbox checkbox-inline">
                <input class="checkbox-custom" id="tech2-item7" type="checkbox">
                <label class="checkbox-custom-label input-label" for="tech2-item7">Sähköinternet</label>
            </div>
            <div class="custom-checkbox checkbox-inline">
                <input class="checkbox-custom" id="tech2-item8" type="checkbox">
                <label class="checkbox-custom-label input-label" for="tech2-item8">Varustelu item</label>
            </div>
        </div>
    </div>
    <div class="form-group equipment-info">
        <div class="textarea-wrapper">
            <label class="control-label input-label" for="equipment-info">Varustelun lisätiedot</label>
            {% include "form/_textarea_input.html" with id="equipment-info" %}
        </div>
    </div>
</div>