<div id="term-condition">
    <div class="form-section-header">
        <h2>Tunnistautuminem, ehdot ja hinnat</h2>
        <span class="pull-right">*Pakolliset kentät</span>
    </div>
    <div class="form-group select-with-label">
        <label class="control-label input-label">Tunnistautuminem</label>
        <div class='select-dropdown btn btn-primary'>
            <select>
                <option>Ei mitään</option>
                <option>Something longer</option>
            </select>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group select-with-label">
        <label class="control-label input-label">Yleiset ehdot</label>
        <div class='select-dropdown btn btn-primary'>
            <select>
                <option>--------</option>
                <option>Something longer</option>
            </select>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group select-with-label">
        <label class="control-label input-label">Pääsykoodintyyppi</label>
        <div class='select-dropdown btn btn-primary'>
            <select>
                <option>24 h</option>
                <option>Something longer</option>
            </select>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
    </div>
</div>