{% extends "_base.html" %}

{% block form_nav %}
    {% include "form/_form_nav.html" %}
{% endblock form_nav %}
 
{% block body %}
    <div class='container form-container'>
        <form class="resource-form">
            {% include "form/_section_info.html" %}
            {% include "form/_section_detail_booking.html" %}
            {% include "form/_section_add_picture.html" %}
            {% include "form/_section_condition.html" %}
            {% include "form/_section_equipment.html" %}
            {% include "form/_section_hours.html" %}
        </form>
    </div>
{% endblock body %}

{% block footer %}
    {% include "form/_form_toolbar.html" %}
{% endblock footer %}