{% extends "_base.html" %}

{% block form_nav %}
    {% include "_form_nav.html" %}
{% endblock form_nav %}
 
{% block body %}
    <div class='container form-container'>
        <form class="resource-form">
            <div id="general-info">
                <div class="form-section-header">
                    <h2>Yleiset tiedot</h2>
                    <span class="pull-right">*Pakolliset kentät</span>
                </div>
                <div class="select-group">
                    <div class='select-dropdown btn btn-primary'>
                        <select>
                            <option>Valitset toimipaikka</option>
                            <option>Something long</option>
                        </select>
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </div>
                    <div class='select-dropdown btn btn-primary'>
                        <select>
                            <option>Valitset tyyppi</option>
                            <option>Something long</option>
                        </select>
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="usage">
                    <h4>Käyttötarkoitukset</h4>
                    <div class="usage-checkbox">
                        <div class="custom-checkbox checkbox-inline">
                            <input class="checkbox-custom" id="checkbox1" type="checkbox">
                            <label class="checkbox-custom-label input-label" for="checkbox1">Kuvaa tai äänta</label>
                        </div>
                        <div class="custom-checkbox checkbox-inline">
                            <input class="checkbox-custom" id="checkbox2" type="checkbox">
                            <label class="checkbox-custom-label input-label" for="checkbox2">Liikkua tai pelata</label>
                        </div>
                        <div class="custom-checkbox checkbox-inline">
                            <input class="checkbox-custom" id="checkbox3" type="checkbox">
                            <label class="checkbox-custom-label input-label" for="checkbox3">Pitää kokouksen tai työskannellä</label>
                        </div>
                        <div class="custom-checkbox checkbox-inline">
                            <input class="checkbox-custom" id="checkbox4" type="checkbox">
                            <label class="checkbox-custom-label input-label" for="checkbox4">Valmistaa esineitä, askarrella tai korjata</label>
                        </div>
                    </div>
                </div>
                <div class="description">
                    <h4>Nimi ja kuvaus</h4>
                    <div class="form-group">
                        <label class="control-label input-label" for="name">Nimi</label>
                        <input type="text" class="form-control text-input" id="name-description" value="keke">
                    </div>
                    <div class="form-group">
                        <div class="textarea-with-toolbar">
                            <label class="control-label input-label" for="description">Kuvausteksi</label>
                            <div>
                                <button type="button" class="btn btn-default" aria-label="Bold">
                                    <span class="glyphicon glyphicon-bold" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Italic">
                                    <span class="glyphicon glyphicon-italic" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Italic">
                                    <span class="glyphicon glyphicon-text-underline" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Italic">
                                    <span class="glyphicon glyphicon-list-numbered" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Italic">
                                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Italic">
                                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                </button>
                            </div>
                            <textarea class="form-control" id="description" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div id="detail-booking">
            
            </div>
            <div id="opening-hours">

            </div>
            <div id="term-condition">

            </div>
            <div id="equipment">

            </div>
            <div id="add-picture">

            </div>
        </form>
    </div>
{% endblock body %}

{% block footer %}
    {% include "_form_toolbar.html" %}
{% endblock footer %}