{% extends "respa_admin/_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block koro_shape %}
    <section class="hero-section bg-light">
        <div class="container">
            <div class="headline">
                <div class="resources-report row">
                    <h1 class="col-sm-6">{% trans 'All resources I manage' %}</h1>
                    <span class="col-sm-6 resources-count">{{ paginator.count }} kpl</span>
                </div>
                <a class="btn resource-control" href="{% url 'respa_admin:new-resource' %}">
                    <span class="glyphicon glyphicon-plus-sign icon-left" aria-hidden="true"></span>
                    {% trans 'Add a new resource' %}<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
                <form action="." method="get">
                    <div class="form-group resources-search center-block">
                        <div class="input-group">
                            <span class="input-group-addon">{% trans 'Search' %}</span>
                            <input autofocus type="text" class="form-control text-input" name="search_query" value="{{ request.GET.search_query }}">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock koro_shape %}

{% block body %}
    {% include "respa_admin/resources/_resource_list.html" %}
{% endblock body %}
