{% extends "respa_admin/_base.html" %}
{% load static %}
{% load i18n %}

{% block koro_shape %}
    <section class="hero-section bg-light {{ KORO_STYLE }}">
        <div class="container">
            <div class="headline">
                <div class="listing-report row">
                    <h1 class="col-sm-6">{% trans 'All units I manage' %}</h1>
                    <span class="col-sm-6 listing-count">{{ paginator.count }} kpl</span>
                </div>
                <form action="." method="get">
                    <div class="form-group listing-search center-block">
                        <div class="input-group">
                            <span class="input-group-addon">{% trans 'Search' %}</span>
                            <input autofocus type="text" class="form-control text-input" name="search_query" value="{{ search_query }}">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock koro_shape %}

{% block body %}
    {% include "respa_admin/units/_unit_list.html" %}
{% endblock body %}
