<div class="accordion-item" id="accordion-item-{{id}}">
    <div class="dropdown-time panel-group input-row" id="accordion{{id}}" role="tablist" aria-multiselectable="true">
        <div class="panel-heading">
            <!-- things go here -->
            <div class="left-group">
                <span class="row-tag" id="period-name">Uusi Aikajakso</span>
                <span class="panel-heading-period" id="period-timespan"></span>
            </div>
            <div class="right-group">
                <button class="btn" type="button">
                    <span class="glyphicons glyphicons-more-windows icon-left" aria-hidden="true">Kopioi kausi</span>
                </button>
                <a class="btn" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{id}}" aria-expanded="true" aria-controls="#collapse{{id}}">
                    <span class="glyphicon glyphicon-edit icon-left"></span>
                    Muokkaa kautta
                    <span class="glyphicon glyphicon-chevron-down icon-right"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="panel-collapse collapse" role="tabpanel" id="collapse{{id}}" aria-labelledby="heading{{id}}">
        <div class="container-fluid hours-wrapper">
            <div class="hours-table-header">
                <div class="input-row" id="period-input">
                    <div class="hidden">{{ period.id }}</div>
                    <div class="form-group schedule">
                        <label class="control-label input-label">Nimi</label>
                        {{ period.name }}
                    </div>
                    <div class="form-group">
                        <label class="control-label input-label">Aikaväli</label>
                        <div class="input-row range-input">
                            {{ period.start }}
                            <span class="glyphicon glyphicon-minus"></span>
                            {{ period.end }}
                        </div>
                    </div>
                </div>
            </div>

            <div  class="hidden" id="days-management-form">
                {{ period.days.management_form }}
            </div>
            <div id="period-days-list">
                {% for day in period.days %}
                    {% with forloop.counter0 as dayId %}
                    <div class="weekday-row input-row" id="period-day-{{ id }}-{{ dayId }}">
                        <div class="hidden">{{ day.id }}</div>
                        <span class="select-dropdown btn btn-primary">
                        {{ day.weekday }}
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </span>

                        <div class="form-group">
                            <div class="input-row range-input">
                                {{ day.opens }}
                                <span class="glyphicon glyphicon-minus"></span>
                                {{ day.closes }}
                            </div>
                        </div>

                        {{ day.closed }}

                        <button class="btn copy-next" type="button">
                            <span class="glyphicons glyphicons-more-windows icon-left" aria-hidden="true"></span>
                            Kopioi seuravaan
                        </button>

                        <button class="btn pull-right btn-danger remove-day" id="btn-remove-day" type="button">
                            Poista aika
                        </button>
                    </div>
                    {% endwith %}
                {% endfor %}
            </div>

            <div class="footer-buttons">
                <button class="btn pull-left delete-time btn-danger" type="button">
                    Poista aikajakso
                </button>

                <button class="btn add-time left-group" type="button" id="btn-add-new-day">
                    <span class="glyphicon glyphicon-plus-sign icon-left" aria-hidden="true"></span>Lisää toinen aika
                </button>
            </div>
        </div>
    </div>
</div>
