{% load i18n %}

{% if form.errors or resource_image_formset.errors or period_formset_with_days.errors %}
    <div class="alert alert-danger">
        <strong>{% trans "Tarkista seuraavat virheet" %}:</strong>
        <ul>
            {% for error in form.errors %}
                <li>
                    {{ error }}
                </li>
            {% endfor %}

            {% for error in resource_image_formset.errors %}
                <li>
                    {{ error }}
                </li>
            {% endfor %}

            {% for error in period_formset_with_days.errors %}
                <li>
                    {{ error }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
