<button type="button" onclick="openFilePicker()" class="choose-picture-button">
    Valitse kuva
</button>

<input type="file" id="{{ field.id_for_label }}" name="{{ field.html_name }}" onchange="picturePreview()">

<button id="remove-image-{{ id }}"
        type="button"
        class="remove-picture-button">
    Poista kuva
</button>

{% if image %}
    <img src="{{ image }}" class="preview-image"/>
{% else %}
    <img src="" class="preview-image" style="display: none;"/>
{% endif %}

{% include "forms/_errors.html" with field=field %}

<script>
    function openFilePicker() {
        document.getElementById("{{ field.id_for_label }}").click();
    }

    function picturePreview() {
        let preview = document.querySelector('img');
        let file    = document.querySelector('input[type=file]').files[0];
        let reader  = new FileReader();

        reader.addEventListener("load", function () {
            preview.src = reader.result;
            preview.style.display = "block";
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>
