<button id="image-picker" type="button" class="add-picture-button" onclick="openFilePicker()">
    Lisää kuva
</button>

<input id="id_{{ widget.name }}" type="file" name="{{ widget.name }}" onchange="picturePreview()" style="display: none;" />

<div>
    <img src="" height="200" style="display: none;"/>
</div>

<script>
    function openFilePicker() {
        document.getElementById("id_{{ widget.name }}").click();
    }

    function picturePreview() {
        let preview = document.querySelector('img');
        let file    = document.querySelector('input[type=file]').files[0];
        let reader  = new FileReader();

        reader.addEventListener("load", function () {
            preview.src = reader.result;
            preview.style.display = "block";
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>
