{% load i18n %}
{% load thumbnail %}
{% load templatetags %}

<section class='resources'>
    <div class='container'>

        <div class='filter-bar container-fluid'>
            <h2 class="pull-left">{% trans 'Users by search term' %}: {{ search_query }} ({{ users.count }})</h2>
            <div class='filter pull-right'>
                <a href="{% url 'respa_admin:user-management' %}" rel="noopener noreferrer" class="empty-search-button">
                    {% trans "Clear search" %}
                </a>
            </div>
        </div>

        <div class='container-fluid'>
            {% for user in users %}
            <span class="sub-header">{{ unit.name }}</span>

            <div class="row panel management-list list-item">
                <div class="col-md-3">
                    <span>{{ user.first_name }} {{ user.last_name }}</span>
                </div>
                <div class="col-md-3">
                    <span>{{ user.email }}</span>
                </div>
                <div class="col-md-3">
                    <div>
                        <span class="{% if user.is_staff %}shape-success{% else %}shape-danger{% endif %}"></span>
                        <span>{% trans 'Staff' %}</span>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
