{% load i18n %}

<section class='resources'>
    <div class='container'>

        <div class='filter-bar container-fluid'>
            <h2 class="pull-left">{% trans 'All resources' %}</h2>
            <div class='filter pull-right'>
                <span class="dropdowns-label">{% trans 'Filter' %}:</span>

                <div class='select-dropdown btn btn-primary'>
                    <form name="type-dropdown" action="." method="get">
                        <select id="type-selector" name="resource_type" onchange="this.form.submit();">
                            <option selected="selected" disabled="disabled">{% trans "Filter by type" %}</option>
                            {% for type in types %}
                                <option value="{{ type.id }}">{{ type.name }}</option>
                            {% endfor %}
                        </select>
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </form>>
                </div>

                <div class='select-dropdown btn btn-primary'>
                    <form name="resource_unit" action="." method="get">
                        <select id="place-dropdown" name="resource_unit" onchange="this.form.submit();">
                            <option selected="selected" disabled="disabled">{% trans "Filter by unit" %}</option>
                            {% for unit in units %}
                                <option value="{{ unit.id }}">{{ unit.name }}</option>
                            {% endfor %}
                        </select>
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </form>>
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                </div>
            </div>
        </div>

        <div class='resource-list container-fluid'>
            <ul class='list-group'>
                <li class="list-group-item sort-bar">
                    <div class='pull-left empty-holder col-1'></div>
                    <button class="col-2 btn">
                        {% trans 'Name' %} <span class='glyphicon glyphicon-sort' aria-hidden="true"></span>
                    </button>
                    <button class="col-3 btn">
                        {% trans 'Availability' %} <span class='glyphicon glyphicon-sort' aria-hidden="true"></span>
                    </button>
                    <button class="col-4 btn">
                        {% trans 'Visibility' %} <span class='glyphicon glyphicon-sort' aria-hidden="true"></span>
                    </button>
                </li>
                {% for resource in resources %}
                    <li class="list-group-item">
                        <div class='panel panel-default'>
                            <img
                                class="img-rounded pull-left"
                                alt=""
                                src={% if resource.main_image %}
                                    "{{ resource.main_image.url }}"
                                {% else %}
                                    ""
                                {% endif %}
                            >
                            <div class="panel-body">
                                <div class="col-2">
                                    <a href="{% url 'respa_admin:edit-resource' resource_id=resource.id %}">
                                        <span>{{ resource.unit.name }}</span>
                                        <h4>{{ resource.name }}</h4>
                                    </a>
                                </div>
                                <div class="col-3">
                                    <h6> <div class='shape-success'></div> {% trans 'Bookable' %}</h6>
                                </div>
                                <div class="col-4">
                                    <h6>
                                        <div class='shape-warning'></div>
                                        {{ resource.public|yesno:"Julkaistu,Ei julkaistu" }}
                                    </h6>
                                </div>
                                <div class="col-5">
                                    <h6>
                                        <span class='glyphicon glyphicon-pencil icon-left' aria-hidden="true"></span>
                                        <a href="{% url 'respa_admin:edit-resource' resource_id=resource.id %}">{% trans 'Edit' %}</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            {% include "common/_pagination.html" %}
        </div>
    </div>
</section>
