{% extends "_base.html" %}

{% block form_nav %}
    {% include "resources/form/_nav.html" %}
{% endblock form_nav %}

{% block body %}
    <div class="container form-container">
        <form
            method="post"
            enctype="multipart/form-data"
            class="resource-form"
        >
            {% csrf_token %}
            {{ resource_image_formset.management_form }}
            {{ period_formset_with_days.management_form }}

            {% include "forms/_form_errors.html" %}

            {% include "resources/form/_general_info.html" %}
            {% include "resources/form/_booking.html" %}
            {%
                include "resources/form/_images.html" with formset=resource_image_formset %}
            {% include "resources/form/_terms.html" %}
            {% include "resources/form/_equipment.html" %}
{#            {% include "resources/form/_opening_hours.html" %}#}
            {% include "resources/form/_periods.html" with formset=period_formset_with_days %}

            {% for period_form in period_formset_with_days %}
                {{ period_form.as_p }}

                {% if period_form.days %}
                    {{ period_form.days.management_form }}
                    {% for day in period_form.days %}
                        {{ day.as_p }}
                    {% endfor %}
                {% endif %}
            {% endfor %}

            <div class="navbar-fixed-bottom">
                {% include "resources/form/_toolbar.html" %}
            </div>
        </form>
    </div>
{% endblock body %}
