{% load i18n %}

{% if form.errors or resource_image_formset.errors or period_formset_with_days.errors %}
    <div class="alert alert-danger">
        <strong>{% trans "Tarkista seuraavat virheet" %}:</strong>
        <ul>
            {% for error in form.errors %}
                <li>
                    {{ error }}
                </li>
            {% endfor %}
            {% if not resource_image_formset.is_valid %}
            <li>
            {% trans "Resource image errors" %}
            {% for error in resource_image_formset.errors %}
                {{ error }}
            {% endfor %}
            </li>
            {% endif %}
            {% if not period_formset_with_days.is_valid %}
            <li>
            {% trans "Time period errors" %}
            {% for error in period_formset_with_days.errors %}
                {{ error }}
            {% endfor %}
            </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
