<div class="form-group">
    <label
        class="control-label input-label"
        for="{{ field.id_for_label }}"
    >
        {{ field.label }}{% if field.field.required %}*{% endif %}
    </label>
    {% if prefix_icon or prefix_text %}
        <div class="input-unit-wrapper">
    {% endif %}

    <input
        id="{{ field.id_for_label }}"
        type="{{ field.field.widget.input_type }}"
        name="{{ field.html_name }}"
        {% if field.value != None %}
            value="{{ field.value|stringformat:'s' }}"
        {% endif %}
        class="form-control text-input"
        {% include "django/forms/widgets/attrs.html" %}
    >
    {% if prefix_text %}
        <span class="">{{ prefix_text }}</span>
    {% endif %}
    {% if prefix_icon %}
        <span class="glyphicon glyphicon-{{ prefix_icon }}"></span>
    {% endif %}
    <span class="help-text">{{ field.help_text }}</span>

    {% include "respa_admin/forms/_errors.html" with field=field %}

    {% if prefix_icon or prefix_text %}
        </div>
    {% endif %}
</div>
