{% load i18n %}

<div id="general-info">
    <div class="form-section-header">
        <h2>{% trans "General information"  %}</h2>
        <span class="pull-right">{% trans "*Mandatory Fields" %}</span>
    </div>
    <div class="description">
        <h4>{% trans "Name and description" %}</h4>
        {% include "respa_admin/forms/_input.html" with field=form.name_fi %}
        {% include "respa_admin/forms/_input.html" with field=form.name_en %}
        {% include "respa_admin/forms/_input.html" with field=form.name_sv %}

        {% include "respa_admin/forms/_textarea_input.html" with field=form.description_fi %}
        {% include "respa_admin/forms/_textarea_input.html" with field=form.description_en %}
        {% include "respa_admin/forms/_textarea_input.html" with field=form.description_sv %}
    </div>
    <div class="contact-person">
        <h4>{% trans "Location" %}</h4>
        <div class="input-row dropdown-row">
            {% include "respa_admin/forms/_select.html" with field=form.municipality inline=True %}
        </div>
        {% include "respa_admin/forms/_input.html" with field=form.street_address_fi %}
        {% include "respa_admin/forms/_input.html" with field=form.street_address_en %}
        {% include "respa_admin/forms/_input.html" with field=form.street_address_sv %}
        {% include "respa_admin/forms/_input.html" with field=form.address_zip %}
    </div>
    <div class="external-calendar">
        <h4>{% trans "Contact" %}</h4>
        {% include "respa_admin/forms/_input.html" with field=form.www_url_fi %}
        {% include "respa_admin/forms/_input.html" with field=form.www_url_en %}
        {% include "respa_admin/forms/_input.html" with field=form.www_url_sv %}
        {% include "respa_admin/forms/_input.html" with field=form.phone %}
    </div>
</div>
